<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resources/css/index.css">
</head>
<body>
    <h1>Pagina de inicio</h1>
    <% if (login) { %>
        <h1>El Usuario Conectado es: <strong><%= nombre %></strong> </h1>
        <a href="salir" class="boton">Salir</a>
     <% } else { %> 
            <h1><strong><%= nombre %></strong></h1>
            <a href="login" class="boton">Ir a LOGIN</a>
        <% } %>
</body>
</html>